<form action="/buscar-filme" method="post">
    <input id="movieNameInput" name="pesquisa" placeholder="movie name">
    <button type="submit">Pesquisar</button>
</form>


<div class="list">
    {{#each movie}}
    <div class="item">
        <a href="/details/{{movieId}}">
            <img src="{{posterUrl}}" />
        </a>
        <h2>{{title}}</h2>
    </div>
    {{/each}}
</div>